/*Estilo BASE*/
body {
  font-family: "Montserrat", sans-serif; }

/*Encabezado*/
#encabezado {
  background: #00bdd6;
  background: radial-gradient(circle, #00bdd6 0%, #dafbff 100%); }
  #encabezado p {
    font-weight: 500; }

/*Sobre Nosotros*/
#sobre-nosotros {
  text-align: justify; }

/*Listado de Productos*/
.listadoProductos {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: 1.6fr repeat(10, 1fr);
  max-height: 400px;
  overflow: auto;
  font-size: 14px;
  z-index: 1; }

.listadoProductos div:nth-child(6n+4),
.listadoProductos div:nth-child(6n+5),
.listadoProductos div:nth-child(6n+6) {
  background-color: #f7f7f7; }

.listadoProductos div {
  padding: 1em; }

.encabezadoTabla {
  font-weight: 600;
  background-color: white;
  z-index: 1 !important; }

/*Servicios*/
#servicios h3 {
  color: #0092a5;
  font-size: 1.3em; }

#servicios .iconservicios {
  max-width: 130px; }

/*footer*/
footer li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8em !important; }

footer li:hover {
  text-decoration: underline; }

footer div p {
  font-size: 0.7em !important; }

.botton, .btnprimario, .btnsecundario, .btnformulario {
  border-radius: 15px;
  border: solid 0.5px black; }

.btnprimario {
  color: black;
  background-color: white; }
  @media (max-width: 2000px) {
    .btnprimario {
      width: 300px; } }
  @media (max-width: 768px) {
    .btnprimario {
      width: 90%; } }
  @media (max-width: 425px) {
    .btnprimario {
      width: 100%; } }
  .btnprimario:hover {
    background-color: white;
    color: black;
    font-weight: 500;
    border: solid 0.5px black;
    text-decoration: underline; }

.btnsecundario {
  color: black;
  background-color: lightgray; }
  @media (max-width: 2000px) {
    .btnsecundario {
      width: 300px; } }
  @media (max-width: 768px) {
    .btnsecundario {
      width: 90%; } }
  @media (max-width: 425px) {
    .btnsecundario {
      width: 100%; } }
  .btnsecundario:hover {
    background-color: lightgray;
    color: black;
    font-weight: 500;
    border: solid 0.5px black;
    text-decoration: underline; }

.btnformulario {
  color: black;
  background-color: lightgray; }
  @media (max-width: 2000px) {
    .btnformulario {
      width: 300px; } }
  @media (max-width: 768px) {
    .btnformulario {
      width: 90%; } }
  @media (max-width: 425px) {
    .btnformulario {
      width: 100%; } }
  .btnformulario:hover {
    background-color: lightgray;
    color: black;
    font-weight: 500;
    border: solid 0.5px black;
    text-decoration: underline; }

.cardservicios:hover {
  background-color: #f8f8f8; }

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform; }

.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }
