$textoSubtitulos: 1.3em;
$colorTablaHijos: rgb(247, 247, 247);
$negrita: 500;

/*Encabezado*/

#encabezado {
    background: rgba(218, 251, 255, 1);
    background: radial-gradient(circle, rgba(199, 248, 255, 0.178) 0%, rgba(218, 251, 255, 1) 100%);

    h1 {
        text-decoration: underline $colorSecundario 2px;
    }

    p {
        font-weight: $negrita;

        b {
            color: $colorPrincipal;
        }
    }
}

/*Sobre Nosotros*/

#sobre-nosotros {
    text-align: justify;
}

/*Listado de Productos*/

.listadoProductos {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 1.6fr repeat(10, 1fr);
    max-height: 490px;
    overflow: auto;
    font-size: 14px;
    z-index: 1;
}

.listadoProductos div:nth-child(6n+4),
.listadoProductos div:nth-child(6n+5),
.listadoProductos div:nth-child(6n+6) {
    background-color: $colorTablaHijos;
}

.listadoProductos div {
    padding: 1em;
}

.encabezadoTabla {
    font-weight: bold;
    background-color: white;
    z-index: 1 !important;
}

/*footer*/

footer {
    li {
        a {
            text-decoration: none;
            font-weight: $negrita;
            font-size: 0.8em !important;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    div {
        p {
            font-size: 0.7em !important;
        }
    }
}