body {
    font-family: "Montserrat", sans-serif;
}

/*animaciones*/

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }

  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*Encabezado*/

#encabezado {
    background: rgb(237,237,237);
    background: linear-gradient(328deg, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 50%, rgba(237,237,237,1) 100%);
}

#botonEncabezado {
    background: #0092a5;
    font-size: 1.3em;
    border: none;
}

#botonEncabezado:hover {
    text-decoration: underline;
}

/*Sobre nosotros*/

#sobrenosotros div{
    text-align: justify;
}

/*Listado de Productos*/

.listadoProductos {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 1.6fr repeat(10, 1fr);
    max-height: 400px;
    overflow: auto;
    font-size: 14px;
}

.listadoProductos div:nth-child(6n+4),
.listadoProductos div:nth-child(6n+5),
.listadoProductos div:nth-child(6n+6) {
    background-color: rgb(247, 247, 247);
}

.listadoProductos div {
    padding: 1em;
}

.encabezadoTabla {
    font-weight: 600;
}

/*Servicios*/

#servicios h3{
    color: #0092a5;
    font-size: 1.3em;
}

.cardServicios:hover{
    background-color: rgb(248, 248, 248);
}

/*formulario*/

#contacto button{
    background-color:#0092a5;
    color: white;
}

#contacto button:hover{
    text-decoration: underline;
}

footer li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8em !important;
}

footer li a:hover{
    text-decoration: underline;
}

footer div p{
    font-size: 0.7em !important;
}