.botton{
    border-radius: 15px;
    border: solid 0.5px black;
}

$tama単o: (
    escritorio: 2000px,
    tablet: 768px,
    mobile: 425px,
);

@mixin reponsivebtn ($medida) {
    @if $medida ==escritorio {
        @media (max-width: map-get($tama単o, escritorio)) {
            @content;
        }
    }

    @else if $medida ==tablet {
        @media (max-width: map-get($tama単o, tablet)) {
            @content;
        }
    }

    @else if $medida ==mobile {
        @media (max-width: map-get($tama単o, mobile)) {
            @content;
        }
    }
}

@each $tipobtn,
$color in $colorbtn {
    .btn#{$tipobtn} {
        @extend .botton;
        color: black;
        background-color: $color;

        @include reponsivebtn(escritorio) {
            width: 300px;
        }

        @include reponsivebtn(tablet) {
            width: 90%;
        }

        @include reponsivebtn(mobile) {
            width: 100%;
        }

        &:hover {
            background-color: $color;
            color: black;
            font-weight: 500;
            border: solid 0.5px black;
            text-decoration: underline;
        }
    }
}