.botton{
    border-radius: 10px;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2) !important;
}

$tama単o: (
    escritorio: 2000px,
    tablet: 768px,
    mobile: 425px,
);


@mixin reponsivebtn ($medida) {
    @if $medida ==escritorio {
        @media (max-width: map-get($tama単o, escritorio)) {
            @content;
            height: 48px;
        }
    }

    @else if $medida ==tablet {
        @media (max-width: map-get($tama単o, tablet)) {
            @content;
            height: auto;
        }
    }

    @else if $medida ==mobile {
        @media (max-width: map-get($tama単o, mobile)) {
            @content;
            height: auto;
        }
    }
}

@each $tipobtn,
$color in $colorbtn {
    .btn#{$tipobtn} {
        @extend .botton;
        background-color: $color;

        @include reponsivebtn(escritorio) {
            width: 300px;
        }

        @include reponsivebtn(tablet) {
            width: 100%;
        }

        @include reponsivebtn(mobile) {
            width: 100%;
        }

        &:hover {
            background-color: $color;
            color: black;
            border: solid 0.5px rgba(0, 0, 0, 0.1);
            text-decoration: underline;
        }
    }
}